*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'satoshi reguler', 'satoshi' ;
}

body{
    background-color: #E8E8E8;
}

li{
    list-style: none;
}

.isinav li a{
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-size: 18px ;
    font-weight: bold;
}

.isinav:hover li a{
    color:#2184E0;
}

/*header*/
header{
    background-color:#FFFFFF;
    position:relative;
    padding : 0 2rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,.2) ;   
}

.navbar{
    width:90%;
    height : 98px;
    margin: 0 auto;
    display : flex;
    align-items : center;
    justify-content: space-between;
}

.navbar .isinav {
    display: flex;
    gap: 5rem;
}
.logo{
    margin-left: 100px;
}

/*Navigation Link*/
.navlink{
    width: 90px;
    height : 98px;
    margin: 0 auto;
    display : flex;
    align-items : center;
    justify-content: space-between;   
    margin-left: 200px;

}

.navlink .isinavlink{
    display: flex;
    gap: 1rem;
}
.isinavlink li a{
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-size: 18px ;
}
.isinavlink li{
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-size: 18px ;
}
.isinav{
    margin-right: 20px;
}

/* section1 */
.section1{
    background-color: #FFFFFF;
    width:417px;
    height : 494px;
    display : flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,.25) ;
    margin-left: 200px;
    display: inline-block;
    vertical-align: top;
  }
  
.buku{
    margin-left: 72px;
    margin-top: 40px;
    vertical-align: top;
  }

 /* section 2*/
 .section2{
    width:504px;
    margin-left: 70px;
    display : inline-block;
    align-items: center;
    justify-content: center;
}

.section2 .Biodatabuku{
    display: flex;
    gap: 1rem;
}

.Biodatabuku  {
    margin-top: 12px;
    padding-left: 0px;
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-size: 16px ;
    font-weight: bold; 
}
.garis{
    margin-top: 19px;
}
h1{
    color: #2184E0;
    font-size: 24px;
}

h2{
    color: rgba(0,0,0,.7);
    font-size: 20px;
}

.Deskripsi{
    margin-top: 32px;
}